@*@model IEnumerable<InventoryWebProject.Models.Menu>
<div>
    @{
        string controller = ViewData["Controller"]?.ToString();
        string action = ViewData["Action"]?.ToString();
    }

    @foreach (var menu in @Model)
    {
        var isParentActive = false;
        var isAnySubMenuActive = false;

        foreach (var submenu in @Model)
        {
            if (submenu.ParentMenuId == menu.MenuId &&
            controller == submenu.Controller &&
            action == submenu.Action)
            {
                isAnySubMenuActive = true;
                break;
            }
        }
        if (controller == menu.Controller && (action == menu.Action || isAnySubMenuActive))
        {
            isParentActive = true;
        }

        if (menu.ParentMenuId == 0)
        {
            <button class="dropdown-btn @(isParentActive ? "active" : "")">
                @menu.MenuName<i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-container @(isParentActive || isAnySubMenuActive ? "active" : "")">
                @foreach (var submenu in @Model)
                {
                    var isSubMenuActive = false;
                    // Check if the current submenu item matches the current route
                    if (controller == submenu.Controller && action == submenu.Action)
                    {
                        isSubMenuActive = true;
                    }

                    if (submenu.ParentMenuId == menu.MenuId)
                    {
                        <button class="dropdown-btn @(isSubMenuActive ? "active" : "")">
                            <a asp-controller="@submenu.Controller" asp-action="@submenu.Action">@submenu.MenuName</a>
                        </button>
                    }
                }
            </div>
        }
    }
</div>*@