@model IEnumerable<ShoppingCartWeb.Models.Dto.UserDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row pb-2">
    <div class="col">
        <h1 class="text-dark">Users</h1>
    </div>
    <div class="col-2 text-start pt-1 justify-content-start">
        <a asp-controller="User" asp-action="Register" class="btn btn-primary btn-sm ms-2">
            <div class="d-flex align-items-center">
                <span class="d-inline-block align-middle me-1" style="font-size: 24px;">Create</span>
                <!-- Increase the font-size value as needed -->
                <i class="bi bi-plus-square-fill ml-2" style="font-size: 21px;"></i>
                <!-- Increase the font-size value as needed -->
            </div>
        </a>
    </div>
</div>

<div class="container p-4 border">

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        User Id
                    </th>
                    <th>
                        User Name
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.UserName</td>
                        <td>*********</td>
                        <td>@item.Registration.FirstName</td>
                        <td>@item.Registration.LastName</td>
                        <td style="white-space: nowrap;">@item.RoleMaster.RoleName</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="User" asp-action="UpdateUser" asp-route-userId="@item.UserId" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                                <a asp-controller="User" asp-action="RemoveUser" asp-route-userId="@item.UserId" class="btn btn-danger ml-2"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>