@model IEnumerable<ShoppingCartWeb.Models.Dto.RegistrationDTO>
<br />
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">Registered Members List</h1>
		</div>
		<div class="col text-end pt-1">
			<a asp-controller="Registration" asp-action="CreateRegistration" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Register new member </a>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>
					First Name
				</th>
				<th>
					Last Name
				</th>
				<th>
					Category Name
				</th>
				<th>
					Gender
				</th>
				<th>
					Date Of Birth
				</th>
				<th>
					Email
				</th>
				<th>
					Contact Number
				</th>
				<th>
					Address
				</th>
				<th>
					Postal Code
				</th>
				<th>
					State
				</th>
				<th>
					Country
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.FirstName</td>
					<td>@item.LastName</td>
					<td>@item.CategoryMaster.CategoryName</td>
					<td>@item.Gender</td>
					<td>@item.DateOfBirth</td>
					<td>@item.Email</td>
					<td>@item.ContactNo</td>
					<td>@item.Address</td>
					<td>@item.PostalCode</td>
					<td>@item.StateMaster.StateName</td>
					<td>@item.CountryMaster.CountryName</td>
					<td>
						<a asp-controller="Registration" asp-action="UpdateRegistration" asp-route-registrationno="@item.RegistrationId" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
						<a asp-controller="Registration" asp-action="RemoveRegistration" asp-route-registrationno="@item.RegistrationId" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>