@model ShoppingCartWeb.Models.VM.RegistrationVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />


<div class="row">
    <div class="col">
        <style>
            .text-dark {
                font-size: 24px; /* You can adjust the size to your preference, e.g., 24px, 36px, etc. */
                /* You can also use other units like em, rem, or % if you prefer. */
            }
        </style>

        <h1 class="text-dark">Registered Persons</h1>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-start">
        <a asp-controller="Registration" asp-action="CreateRegistration" class="btn btn-primary btn-sm ms-2">
            <div class="d-flex align-items-center">
                @*<i class="bi bi-plus-square-fill me-3 ml-2" style="font-size: 21px;"></i>*@
                <!-- Increase the font-size value as needed -->
                <span class="d-inline-block align-middle" style="font-size: 17px;"><i class="bi bi-plus-square-fill"></i>  Create </span>
                <!-- Increase the font-size value as needed -->
            </div>
        </a>

    </div>

</div>

<br />

<div>

    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        <a href="/Registration/IndexRegistration?orderBy=@Model.FirstNameSortOrder" class="text-dark" style="font-size:medium;">FirstName</a>

                    </th>

                    <th>
                        <a href="/Registration/IndexRegistration?orderBy=@Model.LastNameSortOrder" class="text-dark" style="font-size:medium;">LastName</a>
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        ContactNumber
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model.Registration)
                {

                    <tr> <!-- rows will created based on for loop count-->


                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.CategoryMaster.CategoryName</td>
                        <td>@item.Gender</td>
                        @*<td style="white-space: nowrap;"> @item.DateOfBirth.ToString("dd-MM-yyyy")</td>*@
                        <td>@item.Email</td>
                        <td>@item.ContactNo</td>
                        <td>@item.CountryMaster.CountryName</td>

                        @if (item.IsDeleted == false)
                        {
                            <td>

                                <div class="btn-group" role="group">


                                    <a id="viewRegistrationButton_@item.RegistrationId"
                                       data-registrationid="@item.RegistrationId"
                                       class="btn btn-sm ml-1">
                                        <span id="boot-icon" class="bi bi-eye" style="font-size: 16px; color: rgb(128, 0, 128); -webkit-text-stroke-width: 0.5px;"></span>
                                    </a>

                                    <a asp-controller="Registration" asp-action="UpdateRegistration" asp-route-registrationId="@item.RegistrationId" asp-route-currentPageNo="@Model.CurrentPage" class="btn btn-sm ml-1">
                                        <span id="boot-icon" class="bi bi-pencil-square" style="font-size: 17px; color: rgb(0, 128, 55); -webkit-text-stroke-width: 0.6px; opacity: 0.9;"></span>
                                    </a>

                                    <a href="#" class="btn ml-1 text-danger delete-button" style="font:bold" data-toggle="modal" data-target="#deleteModal" data-registrationId="@item.RegistrationId">

                                        <span id="boot-icon" class="bi bi-trash-fill"
                                              style="font-size: 17px; color: rgb(255, 0, 0); -webkit-text-stroke-width: 0px; opacity: 0.9;">
                                        </span>
                                    </a>

                                </div>
                            </td>
                        }

                        else
                        {
                            <td>
                                <div class="btn-group" role="group">

                                    <a href="#" class="btn btn-primary btn-sm ml-2 enable-button" data-toggle="modal" data-target="#enableModal" data-registrationId="@item.RegistrationId">
                                        Active
                                    </a>
                                </div>
                            </td>
                        }


                    </tr>

                }

                
            </tbody>
        </table>
    </div>

    <!-- Placeholder for partial view -->
    <div id="registrationModalContent"></div>

    <!-- Enable Confirmation Modal for each item -->
    <div class="modal fade" id="enableModal" tabindex="-1" role="dialog" aria-labelledby="enableModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enableModalLabel">Confirm Enable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to Enable this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a id="enableModalButton" asp-controller="Registration" asp-action="EnableRegistration" asp-route-registrationId="" asp-route-currentPageNo="@Model.CurrentPage" class="btn btn-success">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal for each item -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="deleteModalButton" asp-controller="Registration" asp-action="RemoveRegistration" asp-route-registrationId="" asp-route-currentPageNo="@Model.CurrentPage" asp-route-orderBys-="@Model.OrderBy" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>



    <br />
    <br />

    <nav aria-label="Page navigation example" style="float: right;margin-top: -35px;margin-right: 2px;font-size: smaller;">

        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Registration/IndexRegistration?orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link active" href="/Registration/IndexRegistration?orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Registration/IndexRegistration?orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Registration/IndexRegistration?orderBy=@Model.OrderBy&currentPage=@Model.CurrentPage+1" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
<br />


@section Scripts
    {


    <script>
        // When a "View" button is clicked
        $('a[id^="viewRegistrationButton_"]').on('click', function () {

            var registrationId = $(this).data('registrationid');

            // Make an AJAX request to load the partial view
            $.ajax({
                url: '/Registration/ViewRegistrationPartial',
                type: 'GET',
                data: { registrationId: registrationId },
                success: function (data) {
                    // Replace the content of the modal with the loaded partial view
                    $('#registrationModalContent').html(data);

                    // Show the modal
                    $('#registrationModal').modal('show');
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    "paging": false
                });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.delete-button').click(function () {
                var registrationId = $(this).data('registrationid');
                console.log(registrationId);
                $('#registrationIdToDelete').text(registrationId); // Set the StateId in the modal
                $('#deleteModalButton').attr('href', '/Registration/RemoveRegistration?registrationId=' + registrationId); // Set the Delete button's URL
            });
        });

        $(document).ready(function () {
            $('.enable-button').click(function () {
                var registrationId = $(this).data('registrationid');
                $('#registrationIdToEnable').text(registrationId); // Set the StateId in the modal
                $('#enableModalButton').attr('href', '/Registration/EnableRegistration?registrationId=' + registrationId); // Set the button's URL
            });
        });


    </script>

    <script>
        function openRegistrationModal(registrationId) {
            // Make an AJAX request to fetch the partial view with details
            $.ajax({
                url: '/Registration/ViewRegistration',
                type: 'GET',
                data: { registrationId: registrationId },
                success: function (data) {
                    // Replace the modal content with the fetched partial view
                    $('#registrationModal .modal-content').html(data);

                    // Show the modal
                    $('#registrationModal').modal('show');
                }
            });
        }
    </script>



    <script>
        $('#registrationModal').on('show.bs.modal', function (e) {
            var registrationId = $(e.relatedTarget).data('registrationid');
            var modal = $(this);

            // Make an AJAX request to fetch details based on registrationId
            $.ajax({
                url: '/api/Registration/GetRegistration?registrationId=',
                type: 'GET',
                data: { registrationId: registrationId },
                success: function (data) {
                    // Populate modal with fetched data
                    modal.find('#FirstName').text(data.firstName);
                    modal.find('#LastName').text(data.lastName);
                    modal.find('#CategoryName').text(data.categoryName);
                    modal.find('#Gender').text(data.gender);
                    modal.find('#DateOfBirth').text(data.dateOfBirth);
                    modal.find('#Email').text(data.email);
                    modal.find('#ContactNo').text(data.contactNo);
                    modal.find('#Address').text(data.address);
                    modal.find('#PostalCode').text(data.postalCode);
                    modal.find('#StateName').text(data.stateName);
                    modal.find('#CountryName').text(data.countryName);
                }
            });
        });
    </script>


}

