@model IEnumerable<ShoppingCartWeb.Models.Dto.RegistrationDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col">
        <h1 class="text-dark">View Registered Members</h1>
    </div>
    <div class="col-2 text-start pt-1 justify-content-start">
        
    </div>

</div>

<div class="container p-4 border mt-4">

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        DateOfBirth
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        ContactNumber
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        State
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>@item.RegistrationId</td>*@
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.CategoryMaster.CategoryName</td>
                        <td>@item.Gender</td>
                        <td style="white-space: nowrap;"> @item.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@item.Email</td>
                        <td>@item.ContactNo</td>
                        <td>@item.CountryMaster.CountryName</td>
                        <td>@item.StateMaster.StateName</td>
                        <td>

                        </td>
                    </tr>

                    
                }
            </tbody>
        </table>
    </div>

</div>