@model ShoppingCartWeb.Models.VM.CategoryMasterPaginationVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentPage = @Model.CurrentPage;
}

<br />

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<div class="row pb-2">

    <div class="col">
        <style>
            .text-dark {
                font-size: 24px; /* You can adjust the size to your preference, e.g., 24px, 36px, etc. */
                /* You can also use other units like em, rem, or % if you prefer. */
            }
        </style>

        <h1 class="text-dark">Categories</h1>
    </div>

    <div class="col-2 d-flex justify-content-end align-items-start">
        <a asp-controller="CategoryMaster" asp-action="CreateCategoryMaster" class="btn btn-primary btn-sm ms-2">
            <div class="d-flex align-items-center">

                <span class="d-inline-block align-middle" style="font-size: 17px;"><i class="bi bi-plus-square-fill"></i>  Create </span>

            </div>
        </a>
    </div>
</div>

<br />

<div>

    <div class="table-responsive">

        <table id="myTable" class="table table-bordered" >
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>

                    <th>
                        Action

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CategoryMasterDTO)
                {

                    <tr>
                        <td style="white-space: nowrap;">
                            @item.CategoryName
                        </td>

                        @if (item.IsDeleted == false)
                        {
                            <td>

                                <div class="btn-group" role="group">

                                    
                                    <a asp-controller="CategoryMaster" asp-action="UpdateCategoryMaster" asp-route-categoryId="@item.CategoryId" asp-route-currentPageNo="" class="btn btn-sm ml-1">
                                        <span id="boot-icon" class="bi bi-pencil-square" style="font-size: 17px; color: rgb(0, 128, 55); -webkit-text-stroke-width: 0.6px; opacity: 0.9;"></span>
                                    </a>

                                    <a href="#" class="btn ml-1 text-danger delete-button" style="font:bold" data-toggle="modal" data-target="#deleteModal" data-categoryId="@item.CategoryId">

                                        <span id="boot-icon" class="bi bi-trash-fill"
                                              style="font-size: 17px; color: rgb(255, 0, 0); -webkit-text-stroke-width: 0px; opacity: 0.9;">
                                        </span>
                                    </a>

                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="#" class="btn btn-primary btn-sm ml-2 enable-button" data-toggle="modal" data-target="#enableModal" data-categoryId="@item.CategoryId">
                                    Active
                                </a>
                            </td>
                        }

                    </tr>

                    
                }

                <!-- Enable Confirmation Modal for each item -->
                <div class="modal fade" id="enableModal" tabindex="-1" role="dialog" aria-labelledby="enableModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="enableModalLabel">Confirm Enable</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to Enable this item?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a id="enableModalButton" asp-controller="CategoryMaster" asp-action="EnableCategory" asp-route-categoryId="" asp-route-currentPageNo="@Model.CurrentPage" class="btn btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Delete Confirmation Modal for each item -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this item?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a id="deleteModalButton" asp-controller="CategoryMaster" asp-action="RemoveCategoryMaster" asp-route-categoryId="" asp-route-currentPageNo="@Model.CurrentPage" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            </tbody>
        </table>

    </div>

    <br />
    <br />

    <div>

        <nav aria-label="Page navigation example" style="float: right;margin-top: -35px;margin-right: 2px;font-size: smaller;">

            <ul class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="/CategoryMaster/IndexCategoryMaster?orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link active" href="/CategoryMaster/IndexCategoryMaster?orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>

                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/CategoryMaster/IndexCategoryMaster?orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
                    }
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="/CategoryMaster/IndexCategoryMaster?orderBy=@Model.OrderBy&currentPage=@Model.CurrentPage+1" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>

    </div>


</div>

<br />

@section Scripts
    {
    <script>
        var currentPageValue = @currentPage;

        $(document).ready(function () {
            // Loop through each anchor tag that needs to be updated
            $('a[data-currentPageNo]').each(function () {
                // Get the element's data-currentPageNo attribute value (if you set it)
                var dataCurrentPageNo = $(this).data('currentPageNo');

                // Update the asp-route-currentPageNo attribute with the currentPageValue
                $(this).attr('asp-route-currentPageNo', currentPageValue);
            });
        });

        // Find the last anchor tag within the loop
        var anchor = document.querySelectorAll('a[asp-route-currentPageNo]')[document.querySelectorAll('a[asp-route-currentPageNo]').length - 1];

        // Set the asp-route-currentPageNo attribute to the current page value
        anchor.setAttribute('asp-route-currentPageNo', '@Model.CurrentPage');
    </script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    "paging": false
                });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.delete-button').click(function () {
                var categoryId = $(this).data('categoryid');
                console.log(categoryId);
                $('#categoryIdToDelete').text(categoryId); // Set the StateId in the modal
                $('#deleteModalButton').attr('href', '/CategoryMaster/RemoveCategoryMaster?categoryId=' + categoryId); // Set the Delete button's URL
            });
        });

        $(document).ready(function () {
            $('.enable-button').click(function () {
                var categoryId = $(this).data('categoryid');
                $('#categoryIdToEnable').text(categoryId); // Set the StateId in the modal
                $('#enableModalButton').attr('href', '/CategoryMaster/EnableCategory?categoryId=' + categoryId); // Set the button's URL
            });
        });
    </script>
}